<div id="modalComunicazione" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Nuova/Modifica Comunicazione</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">

		  <div style="color:red; display:none; margin-bottom: 10px;" id="formComunicazioni_ValidationMessage"></div>
	
          <h4 id="formComunicazioni_Matricola"></h4>
		  
          <form>
			<fieldset>
            <input id="formComunicazioni_IdComunicazione" type="hidden" />

		
			<div id="div_FormComunicazioni_IdMezzo" class="form-group">
				<label for="formComunicazioni_IdMezzo">Mezzo *</label> 
				<select id="formComunicazioni_IdMezzo" class="form-control">
					<option>Seleziona</option>
			  	</select>
			</div>
			<div class="form-group">
				<label for="formComunicazioni_IdTipoComunicazione">Tipo Comunicazione *</label> 
				<select id="formComunicazioni_IdTipoComunicazione" class="form-control">
					<option>Seleziona</option>
			  	</select>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12"><label>Data *</label>
				  <div class="timepicker-input input-icon form-group">
					<div class="input-group">
					  <div class="input-group-addon bgc-white bd bdwR-0"><i class="ti-calendar"></i></div>
					  <input disabled type="text" class="form-control bdc-grey-200 start-date" data-provide="datepicker" id="formComunicazioni_Data">
					</div>
				  </div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
				  <label id="formComunicazioni_Label_DataDisponibilita">Data disponibilità mezzo * / Data autorizzazione esercizio *</label>
				  <div class="timepicker-input input-icon form-group">
					<div class="input-group">
					  <div class="input-group-addon bgc-white bd bdwR-0"><i class="ti-calendar"></i></div>
					  <input type="text" class="form-control bdc-grey-200 start-date" data-provide="datepicker" id="formComunicazioni_DataDisponibilita">
					</div>
				  </div>
				</div>
			</div>

			<div class="form-group com_1 com_3">
				<label for="formComunicazioni_IdTipoManutenzione">Tipo manutenzione * </label> 
				<select id="formComunicazioni_IdTipoManutenzione" class="form-control">
					<option value="">Seleziona</option>
			  	</select>
			</div>
			
			<div class="form-group com_3">
				<label for="formComunicazioni_NumeroOrdineLavoro">N° ordine di lavoro *</label> 
				<input type="number" class="form-control" id="formComunicazioni_NumeroOrdineLavoro">
			</div>

			<div class="form-group com_3">
				<label for="formComunicazioni_Stato">Stato del mezzo *</label> 
				<select id="formComunicazioni_Stato" class="form-control">
					<option value="">Seleziona</option>
					<option value="1">Disponibile</option>
					<option value="3">Disponibile con riserva</option>
			  	</select>
			</div>
			
			<div class="form-group" id="div_FormComunicazioni_Note">
				<label for="formComunicazioni_Note">Restrizioni d'uso</label> 
				<textarea id="formComunicazioni_Note" class="form-control"></textarea>
			</div>
			<!--
			<div class="form-group">
				<label for="formComunicazioni_IdDocumento">Id Google Docs</label> 
				<input type="text" class="form-control" id="formComunicazioni_IdDocumento">
			</div>
			-->
			</fieldset>
		</form>


		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
		  <button type="button" class="btn btn-primary" id="formComunicazioni_Salva">Salva</button>
		</div>
	  </div>
	</div>
  </div>