<ol id="tutorial" style="display: none">
    <li id="step_filters">
        Attraverso la sezione "Filtra per:" puoi filtrare i mezzi di tuo interesse specificando:
        <ul>
            <li>la sede di riferimento</li>
            <li>lo stato del mezzo ("Tutti gli stati, Disponibile, Non disponibile, Disponibile con riserva)</li>
            <li>se per quel mezzo sono presenti delle comunicazioni da leggere</li>
            <li>se per quel mezzo sono presenti scadenze</li>
            <li>se per quel mezzo sono presenti segnalazioni</li>
        </ul>
        <br/>
        Cliccando sul bottone "Annulla" <img style="display:none" src="help/linea.png" width="83px;"/> potrai annullare la ricerca e visualizzare tutti i mezzi.
        <br/><br/>
    </li>
    <li id="step_filters_red">
        Attraverso la sezione "Filtra per:" puoi filtrare i mezzi di tuo interesse specificando:
        <ul>
            <li>lo stato del mezzo ("Tutti gli stati, Disponibile, Non disponibile, Disponibile con riserva)</li>
            <li>se per quel mezzo sono presenti delle comunicazioni da leggere</li>
            <li>se per quel mezzo sono presenti segnalazioni</li>
        </ul>
        <br/>
        Cliccando sul bottone "Annulla" potrai annullare la ricerca e visualizzare tutti i mezzi.
        <br/><br/>
    </li>
    <li id="step_elements_per_page">Seleziona dal menu a tendina, quanti mezzi per pagina vuoi visualizzare.<br/><br/></li>
    <li id="step_search">Attraverso il pulsante "Cerca" puoi filtrare i mezzi per testo. La ricerca viene effettuata su tutti i campi.<br/><br/></li>
    <li id="step_header">I mezzi sono visualizzati sottoforma di elenco; è possibile ordinare i dati cliccando sulla prima riga in corrispondenza dell'attributo di interesse.<br/><br/></li>
    <li id="step_data">Su ciascun mezzo in elenco è possibile eseguire alcune azioni, cliccando su una delle voci presenti all'interno del menu a tendina "Azioni" posizionato alla fine di ogni riga.
        <br/><br/></li>
    <li id="step_paginator">Attraverso il paginatore puoi spostarti tra le pagine dell'elenco cliccando sul numero di pagina corrispondente o andare alla pagina precedente o successiva.<br/><br/></li>
</ol>